/* shared styles */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.background{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.button-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.first-description{
    font-size: 18px;
}

.second-description{
    font-size: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
}

/* header */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 230px;
}

.banner-content{
    max-width: 585px;
}

.banner-greetings{
    font-weight: 600px;
    font-size: 45px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-image{
    height: 670px;
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    max-height: 550px;
    margin: 0px auto;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px ;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-title{
    font-weight: bold;
}