/* shared styles */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.background{
    background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.button-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.first-description{
    font-size: 20px;
}

.second-description{
    font-size: 18px;
}

.third-description{
    font-size: 16px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
}

/* header */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 230px;
}

.banner-content{
    max-width: 585px;
}

.banner-greetings{
    font-weight: 600px;
    font-size: 45px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-image{
    height: 670px;
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    
    margin: 0px auto;
}

main section{
    margin-top: 130px ;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 155px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-title{
    font-weight: bold;
}

/* skills styles */
.section-description{
    margin-bottom: 50px;
}

.skill-container{
    display: flex;
    gap: 25px;
}

.skill-name{
    padding: 30px;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title{
    padding-top: 30px;
}

/* resume styles */
.resume-container{
    display: flex;
    gap: 25px;
}

.resume-column-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume-column-main-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}

.resume-column-description{
    margin-top: 20px;
    margin-bottom: 30px;
}

.resume-button{
    margin-top: 50px;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 115px;
}
.footer-column{
    width: 50%;
}

.footer-title{
    font-size: 35px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
}

.footer-paragraph{
    color: rgba(71, 71, 71, 1);
}

.footer-icon{
    margin-top: 30px;
    margin-right: 25px;
}

input[type=text], [type=email], footer textarea{
    height: 65px;
    border-radius: 5px;
    background: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;
    color: rgba(117, 117, 117, 1);
}